@keyframes twistOutRight {
  0% {
    opacity: 1;
    transform: translateY(0px) rotate(0deg) scale(1);
  }

  50% {
    opacity: 1;
    transform: translateY(0px) rotate(-360deg) scale(1);
  }

  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(1) translateX(300%);
  }
}

.twistOutRight {
  animation-name: twistOutRight;
}
