@keyframes bounceOutDown {
  0% {
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    transform: translateY(3000px);
  }
}

.bounceOutDown {
  animation-name: bounceOutDown;
}
