@mixin animation($duration, $delay, $count) {
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: $count;
  -moz-animation-duration: $duration;
  -moz-animation-delay: $delay;
  -moz-animation-iteration-count: $count;
  -webkit-animation-duration: $duration;
  -webkit-animation-delay: $delay;
  -webkit-animation-iteration-count: $count;
  -ms-animation-duration: $duration;
  -ms-animation-delay: $delay;
  -ms-animation-iteration-count: $count;
  -o-animation-duration: $duration;
  -o-animation-delay: $delay;
  -o-animation-iteration-count: $count;
}