/*-----------------------------------*\
  $RESET
\*-----------------------------------*/

*, :before, :after {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input, select, button, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  font: inherit;
  color: inherit;
}

/*-----------------------------------*\
  $OBJECTS
\*-----------------------------------*/

.butt, .input {
  padding: .75rem;
  margin: .375rem;

  background-color: transparent;
  border-radius: 4px;
}

  .butt:focus, .input:focus {
    outline: none;
  }

.butt {
  border: 2px solid #f35626;
  line-height: 1.375;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  font-weight: 700;

  color: #f35626;

  cursor: pointer;
  -webkit-animation: hue 60s infinite linear;
}

  .butt--primary {
    background-color: #f35626;
    color: #fff;
  }

.input {
  border: 1px solid #c0c8c9;
  border-radius: 4px;
}

  .input--dropdown {
    background-image: url("images/ddown.png");
    background-image: url("images/ddown.svg?3"), none;
    background-repeat: no-repeat;
    background-size: 1.5rem 1rem;
    background-position: right center;
  }

.checkbox-group {
  display: inline-block;
  margin: 10px;
  position: relative;
  width: 160px;
}

.checkbox-group .input--checkbox {
  visibility: hidden;
}

.checkbox--check {
  background: inherit;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 20px;
  position: absolute;
  top: 0; left: 0;
  width: 20px;
}

.checkbox--check:after {
    content: '';
    background: transparent;
    border: 3px solid #4D4C41;
    border-top: none;
    border-right: none;
    height: 5px;
    opacity: 0.2;
    position: absolute;
    top: 6px; left: 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: hue 60s infinite linear;
    animation: hue 60s infinite linear;
    width: 9px;
}


.checkbox-group .input--checkbox:checked + .checkbox--check:after {
  border: 3px solid #f35626;
  border-top: none;
  border-right: none;
  opacity: 1;
}

.checkbox--label {
  position: absolute;
  top: -1px; left: 25px;
}

/*-----------------------------------*\
  $TYPOGRAPHY
\*-----------------------------------*/

h1, .alpha {
  margin-bottom: 1.5rem;

  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
  letter-spacing: -.05em;
}

h2, .beta {
  margin-bottom: .75rem;

  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}

@media (min-width: 650px) {
  .mega {
    font-size: 6rem;
    line-height: 1;
  }
}

.subhead, .meta {
  color: #7b8993;
}

.promo {
  text-align: center;
}

p, hr, form {
  margin-bottom: 1.5rem;
}

hr {
  border: none;
  margin-top: -1px;
  height: 1px;
  background-color: #c0c8c9;
  background-image: -webkit-linear-gradient(0deg, #fff, #c0c8c9, #fff);
}

a {
  color: inherit;
  text-decoration: underline;
  -webkit-animation: hue 60s infinite linear;
}

  a:hover {
    color: #f35626;
  }

/*-----------------------------------*\
  $LAYOUT
\*-----------------------------------*/

.wrap {
  max-width: 38rem;
  margin: 0 auto;
}

.island {
  padding: 1.5rem 0;
}

.isle {
  padding: .75rem;
}

.spit {
  padding: .375rem;
}

/* prevent fast down animation */
.section__builder.fadeOutDown {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}

/*-----------------------------------*\
  $BASE
\*-----------------------------------*/

html {
  font: 100%/1.5 "Roboto", Verdana, sans-serif;
  color: #3d464d;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  width: 100%;

  overflow: hidden-x;

  /* Centering in The Unknown */
  text-align: center;
}

@media (min-width: 650px) {
  html {
    height: 100%;
  }

  html:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  body {
    display: inline-block;
    vertical-align: middle;
    max-width: 38rem;
  }
}

/*-----------------------------------*\
  $HEADER
\*-----------------------------------*/

.site__header {
  -webkit-animation: bounceInUp 1s;
}

  .site__title {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
  }

.site__content {
  -webkit-animation: bounceInUp 1s;
  -webkit-animation-delay: .1s;
}

  .site__content form {
    -webkit-animation: bounceInUp 1s;
    -webkit-animation-delay: .1s;
  }

/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}




/*-----------------------------------*\
  $MODAL BUILDER
\*-----------------------------------*/

.modal__overlay {
  background-color: rgba(0,0,0,.1);
  display: none;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 1;
}

.modal__main {
  -webkit-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  background-color: #fff;
  box-shadow: 0 0 13px -5px rgba(0, 0, 0, .8);
  display: none;
  height: 80%;
  padding: 30px;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 70%;
  z-index: 2;
}

.modal__code {
  height: 90%;
  text-align: left;
  overflow: scroll;
}

.modal__button {
  -webkit-animation: hue 60s linear;
  -o-animation: hue 60s linear;
  animation: hue 60s linear;
  background-color: transparent;
  border: 2px solid #f35626;
  color: #f35626;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  padding: 7px 22px;
  -webkit-transition: background-color .4s, color .4s;
  -o-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

.modal__button:hover {
  background-color: #f35626;
  color: #fff;
}

.js--trigger-minify {
  position: absolute;
  right: 8%;
  z-index: 3;
}

.js--copy-build {
  margin: 15px auto 0;
}

.modal__close {
  -webkit-animation: hue 60s linear;
  -o-animation: hue 60s linear;
  animation: hue 60s linear;
  border: 3px solid #fff;
  background-color: #f35626;
  border-radius: 50%;
  height: 35px;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
}

.modal__close:before, .modal__close:after {
  content: '';
  background-color: #fff;
  display: block;
  height: 2px;
  margin: auto;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 15px;
}
.modal__close:before {
  -webkit-transform: translateY(-1px) rotate(-45deg);
  -moz-transform: translateY(-1px) rotate(-45deg);
  -ms-transform: translateY(-1px) rotate(-45deg);
  -o-transform: translateY(-1px) rotate(-45deg);
  transform: translateY(-1px) rotate(-45deg);
}

.modal__close:after {
  -webkit-transform: translateY(-1px) rotate(45deg);
  -moz-transform: translateY(-1px) rotate(45deg);
  -ms-transform: translateY(-1px) rotate(45deg);
  -o-transform: translateY(-1px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg);
}