* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}

body {
    height: 200vh;
    background: rgb(27, 27, 27);
}

::-webkit-scrollbar {
    width: 0px;
}

#scrollpath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    border-radius: 25px;
    background: linear-gradient( to bottom, #008aff, #00ffe7);
    animation: animate 75s linear infinite;
    transition: 0.3s;
    z-index: 1;
}

@keyframes animate {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

#scrollpath::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient( to top, #008aff, #00ffe7);
    border-radius: 5px;
    filter: blur(10px);
}

#scrollpath::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( to top, #008aff, #00ffe7);
    border-radius: 5px;
    filter: blur(10px);
}