//import the entire library
@import 'attention_seekers'
@import 'bouncing_entrances'
@import 'bouncing_exits'
@import 'fading_entrances'
@import 'fading_exits'
@import 'flippers'
@import 'lightspeed'
@import 'rotating_entrances'
@import 'rotating_exits'
@import 'sliders'
@import 'specials'
