*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}
body
{   display: grid;
    background:rgb(27, 27, 27);
    grid-template-rows: 100vh 100vh;
}
.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
    color: white;

  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }