@keyframes bounceOutRight {
	0% {
		transform: translateX(0);
	}

	20% {
		opacity: 1;
		transform: translateX(-20px);
	}

	100% {
		opacity: 0;
		transform: translateX(2000px);
	}
}

.bounceOutRight {
	animation-name: bounceOutRight;
}