@keyframes lightSpeedOutTop {
  from {
    transform: translate3d(0, 0, 0);
  }

  30% {
    transform: translate3d(0, 10%, 0) scaleY(120%);
  }

  40% {
    transform: scaleY(70%);
  }

  to {
    transform: perspective(200px) translate3d(0, -150%, 0) rotateX(-10deg) scaleY(110%);
    opacity: 0;
  }
}

.lightSpeedOutTop {
  animation-name: lightSpeedOutTop;
  animation-timing-function: ease-in;
}
