@keyframes springCloseLetters{
  0% {
    opacity: 1;
    animation-timing-function: cubic-bezier(.97, .41, .68, 1);
    letter-spacing: 2rem;
  }
  30% {
    opacity: 1;
    animation-timing-function: cubic-bezier(.97, .41, .68, 1);
    letter-spacing: 2.6rem;
  }
  100% {
    opacity: 0;
    animation-timing-function: cubic-bezier(.97, .41, .68, 1);
    letter-spacing: -5rem;
  }
}

.springCloseLetters {
  animation-name: springCloseLetters;
}