@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotateY(-20deg);
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotateY(-5deg);
  }

  100% {
    transform: perspective(400px) rotateY(0deg);
  }
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}
