@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    will-change: auto;
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  will-change: transform, opacity;
  animation-name: fadeInUp;
}
