@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    will-change: auto;
    opacity: 1;
    transform: none;
  }
}

.fadeInLeftBig {
  will-change: transform, opacity;
  animation-name: fadeInLeftBig;
}
