@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }

  to {
    will-change: auto;
    opacity: 1;
    transform: none;
  }
}

.fadeInDownBig {
  will-change: transform, opacity;
  animation-name: fadeInDownBig;
}
