@keyframes fadeInUpSmall {
  from {
    opacity: 0;
    transform: translate3d(0, 3rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUpSmall {
  animation-name: fadeInUpSmall;
}
