@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(3000px);
  }

  60% {
    opacity: 1;
    transform: translateY(-30px);
  }

  75% {
    transform: translateY(15px);
  }

  90% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
}
