@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(3000px);
  }

  60% {
    opacity: 1;
    transform: translateX(-30px);
  }

  75% {
    transform: translateX(15px);
  }

  90% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.bounceInRight {
  animation-name: bounceInRight;
}
