@keyframes twistInUp {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(1) translateY(-300%);
  }

  50% {
    opacity: 1;
    transform: translateY(0px) rotate(-360deg) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) rotate(0deg) scale(1);
  }
}

.twistInUp {
  animation-name: twistInUp;
}
