@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    will-change: auto;
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.fadeOutUpBig {
  will-change: transform, opacity;
  animation-name: fadeOutUpBig;
}
