@keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }

  to {
    will-change: auto;
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}

.fadeOutLeftBigHint {
  will-change: transform, opacity;
}
