@keyframes fadeOutDownBig {
  from {
    opacity: 1;
  }

  to {
    will-change: auto;
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}

.fadeOutDownBigHint {
  will-change: transform, opacity;
}