@keyframes fadeOutDownRightBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(2000px, -2000px, 0);
  }
}

.fadeOutDownRightBig {
  animation-name: fadeOutDownRightBig;
}