@keyframes foldInRight {
  from {
    opacity: 0;
    transform: perspective( 200px ) rotate3d(1,0,0,90deg);
  }
  55% {opacity: 1;}
  to {
    transform: none;
  }
}

.foldInRight {
  animation-name: foldInRight;
  transform-origin: bottom;
  animation-timing-function: ease-out;
}
