@keyframes foldInDown {
  from {
    opacity: 0;
    transform: perspective(200px) rotate3d(1,0,0,-90deg);
  }
  55% {opacity: 1;}
  to {
    transform: none;
  }
}

.foldInDown {
  animation-name: foldInDown;
  animation-timing-function: ease-out;
  transform-origin: top;
}
