@keyframes foldInRight {
  from {
    opacity: 0;
    transform: perspective(200px) rotate3d(0,1,0,-90deg);
  }
  
  55% {
    opacity: 1;
  }
  
  to {
    transform: none;
  }
}

.foldInRight {
  animation-name: foldInRight;
  animation-timing-function: ease-out;
  transform-origin: right;
}