@keyframes foldInUp {
  from {
    opacity: 0;
<<<<<<< HEAD
    transform: perspective(200px) rotate3d(1,0,0,-90deg);
=======
    transform: perspective(200px) rotate3d(1,0,0,90deg);
>>>>>>> 3680d329fc6fadf38cc5b419ef6dfcce6c279431
  }
  55% {opacity: 1;}
  to {
    transform: none;
  }
}

.foldInUp {
  animation-name: foldInUp;
  animation-timing-function: ease-out;
<<<<<<< HEAD
  transform-origin: top;
}
=======
  transform-origin: bottom;
}
>>>>>>> 3680d329fc6fadf38cc5b419ef6dfcce6c279431
