@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    will-change: auto;
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  will-change: transform, visibility;
  animation-name: slideInLeft;
}
