@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    will-change: auto;
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  will-change: transform, visibility;
  animation-name: slideInUp;
}
