@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
  
  100% {
    will-change: auto;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

.zoomInHint {
  will-change: transform, opacity;
}
