@mixin bounceOutUp() {
  @-webkit-keyframes bounceOutUp {
    20% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }

    40%, 45% {
      opacity: 1;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
    }

    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, -2000px, 0);
      transform: translate3d(0, -2000px, 0);
    }
  }

  @keyframes bounceOutUp {
    20% {
      -webkit-transform: translate3d(0, -10px, 0);
      -ms-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }

    40%, 45% {
      opacity: 1;
      -webkit-transform: translate3d(0, 20px, 0);
      -ms-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
    }

    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, -2000px, 0);
      -ms-transform: translate3d(0, -2000px, 0);
      transform: translate3d(0, -2000px, 0);
    }
  }
}