@mixin fadeOutLeftBig() {
  @-webkit-keyframes fadeOutLeftBig {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
      transform: translate3d(-2000px, 0, 0);
    }
  }

  @keyframes fadeOutLeftBig {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
      -ms-transform: translate3d(-2000px, 0, 0);
      transform: translate3d(-2000px, 0, 0);
    }
  }
}