@keyframes foldOutLeft {
  from {
    opacity: 1;
    transform: none;
  }
  55% {opacity: 1;}
  to {
    opacity: 0;
    transform: perspective(200px) rotate3d(0,1,0,90deg);
  }
}

.foldOutLeft {
  animation-name: foldOutLeft;
  transform-origin: left;
  animation-timing-function: ease-out;
}