@keyframes headShake {


  0 {
    transform: translateX(0)
  }

  12.5% {
    transform: translateX(-6px) rotateY(-9deg)
  }

  37.5% {
    transform: translateX(5px) rotateY(7deg)
  }

  62.5% {
    transform: translateX(-3px) rotateY(-5deg)
  }

  87.5% {
    transform: translateX(2px) rotateY(3deg)
  }

  100% {
    transform: translateX(0)
  }
}


.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
}