/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
/* rewrote by Procodeing - https://github.com/procodeing */
@keyframes pulse {
  0% {
    
    transform: scale(1, 1);
  }
  50% {
    
    transform: scale(1.05, 1.05);
  }
  100% {
    
    transform: scale(1, 1);
  }
}


.pulse {
  
  animation-name: pulse;
    transform-origin: 0%;
    
  
}
