@keyframes rubberBand {
	0% { transform: scale(1); }
	30% { transform: scaleX(1.25) scaleY(0.75); }
	40% { transform: scaleX(0.75) scaleY(1.25); }
	60% { transform: scaleX(1.15) scaleY(0.85); }
	100% { transform: scale(1); }
}

.rubberBand {
	animation-name: rubberBand;
}
