.skew {
	-webkit-animation-name: skew;
	animation-name: skew;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

@-webkit-keyframes skew  {
	0%, 100% {
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
	}
	
	25%, 75% {
		-webkit-transform: skewX(30deg);
		transform: skewX(30deg);
	}
	
	50% {
		-webkit-transform: skewX(-30deg);
		transform: skewX(-30deg);
	}
}

@keyframes skew  {
	0%, 100% {
		-webkit-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		transform: skewX(0deg);
	}
	
	25%, 75% {
		-webkit-transform: skewX(30deg);
		-ms-transform: skewX(30deg);
		transform: skewX(30deg);
	}
	
	50% {
		-webkit-transform: skewX(-30deg);
		-ms-transform: skewX(-30deg);
		transform: skewX(-30deg);
	}
}