@keyframes rotationRight {
  from {
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.rotationRight {
  animation-name: rotationRight;
  animation-timing-function: linear;
}
