@keyframes rotationLeft {
  from {
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-180deg);
  }
  to{
    transform: rotate(-360deg);
  }
}

.rotationLeft {
  animation-name: rotationLeft;
  animation-timing-function: linear;
}
