@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.rotateClockwise {
  animation-name: rotateClockwise;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
