@-webkit-keyframes stamp { 
  0% {
    transform: scale(100);
  }
  
  50% {
    transform: scale(10);
  }  
  
  100% {
    transform: scale(1);
  }
}

@keyframes stamp {
  0% {
    transform: scale(100);
  }
  
  50% {
    transform: scale(10);
  }  
  
  100% {
    transform: scale(1);
  }
}

.stamp {
  -webkit-animation-name: stamp;
  animation-name: stamp;
}
