@keyframes trotIn {
  0% {
    transform: perspective(400px) translateZ(-1000px) rotateZ(25deg);
    opacity: 0.2;
  }
  
  25% {
    transform: perspective(400px) translateZ(-750px) rotateZ(-25deg);
    opacity: 0.8;
  }
  
  50% {
    transform: perspective(400px) translateZ(-500px) rotateZ(25deg);
    opacity: 1;
  }
  
  75% {
    transform: perspective(400px) translateZ(-250px) rotateZ(-25deg);
  }

  100% { 
    transform: perspective(400px) translateZ(0px) rotateZ(0deg);
    opacity: 1;
  }
}

.trotIn {
  animation-name: trotIn;
}
