@-webkit-keyframes fadeInDownMedium {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-200px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDownMedium {
	0% {
		opacity: 0;
		-moz-transform: translateY(-200px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDownMedium {
	0% {
		opacity: 0;
		-o-transform: translateY(-200px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDownMedium {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDownMedium {
	-webkit-animation-name: fadeInDownMedium;
	-moz-animation-name: fadeInDownMedium;
	-o-animation-name: fadeInDownMedium;
	animation-name: fadeInDownMedium;
}