@-webkit-keyframes hinge {
	0%, 20%, 40%, 60%, 80% { -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
	0% { -webkit-transform: rotate(0); }	
	20%, 60% { -webkit-transform: rotate(80deg); }	
	40% { -webkit-transform: rotate(60deg); }	
	80% { -webkit-transform: rotate(60deg) translateY(0); opacity: 1; }	
	100% { -webkit-transform: translateY(700px); opacity: 0; }
}

@-moz-keyframes hinge {
	0%, 20%, 40%, 60%, 80% { -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }
	0% { -moz-transform: rotate(0); }	
	20%, 60% { -moz-transform: rotate(80deg); }	
	40% { -moz-transform: rotate(60deg); }	
	80% { -moz-transform: rotate(60deg) translateY(0); opacity: 1; }	
	100% { -moz-transform: translateY(700px); opacity: 0; }
}

@-ms-keyframes hinge {
	0%, 20%, 40%, 60%, 80% { -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }
	0% { -ms-transform: rotate(0); }	
	20%, 60% { -ms-transform: rotate(80deg); }	
	40% { -ms-transform: rotate(60deg); }	
	80% { -ms-transform: rotate(60deg) translateY(0); opacity: 1; }	
	100% { -ms-transform: translateY(700px); opacity: 0; }
}

@-o-keyframes hinge {
	0%, 20%, 40%, 60%, 80% { -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }
	0% { -o-transform: rotate(0); }	
	20%, 60% { -o-transform: rotate(80deg); }	
	40% { -o-transform: rotate(60deg); }	
	80% { -o-transform: rotate(60deg) translateY(0); opacity: 1; }	
	100% { -o-transform: translateY(700px); opacity: 0; }
}

@keyframes hinge {
	0%, 20%, 40%, 60%, 80% { transform-origin: top left; animation-timing-function: ease-in-out; }
	0% { transform: rotate(0); }	
	20%, 60% { transform: rotate(80deg); }	
	40% { transform: rotate(60deg); }	
	80% { transform: rotate(60deg) translateY(0); opacity: 1; }	
	100% { transform: translateY(700px); opacity: 0; }
}

.hinge {
	-webkit-animation-name: hinge;
	-moz-animation-name: hinge;
	-ms-animation-name: hinge;
	-o-animation-name: hinge;
	animation-name: hinge;
}