@keyframes zoomOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  
  50% {
    opacity: 0;
    transform: scale(.3);
  }
  
  100% {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}