@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale(.475) translateY(-60px);
    animation-timing-function: linear;
  }
  
  100% {
    opacity: 0;
    transform: scale(.1) translateY(2000px);
    transform-origin: center bottom;
  }
}

.zoomOutDown {
  animation-name: zoomOutDown;
}