@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    will-change: auto;
    opacity: 0;
  }
}

.zoomOut {
  will-change: transform, opacity;
  animation-name: zoomOut;
}
